<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcxy.user.dao.MenuMapper">
	<resultMap type="com.xcxy.user.entity.Menu" id="MenuMap">
		<result column="m_id" jdbcType="INTEGER" property="mId"/>
		<result column="m_name" jdbcType="VARCHAR" property="mName"/>
		<result column="m_url" jdbcType="VARCHAR" property="mUrl"/>
		<collection property="roles" ofType="com.xcxy.user.entity.Role">
			<result column="r_id" jdbcType="INTEGER" property="rId"/>
			<result column="r_name" jdbcType="VARCHAR" property="rName"/>	
		</collection>
	</resultMap>
	<select id="findMenuAll" resultMap="MenuMap">
	select * from menu m,role r,role_menu rm where m.m_id=rm.m_id and r.r_id=rm.r_id
	</select>
	
</mapper>